.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
    width: 50%;
    height: 50%;
    position: fixed;
    background: rgba(121, 121, 121, 0.49);
    z-index: 5;
    padding: 30px;
    display: none;
}

.show-modal {
    display: block;
}